{% extends "layout.html.j2" %}
{% block body %}
        <h1>Hello {{ name }}! Welcome to Hairs & Snairs</h1>
        
        <div>
                <a href="/strings">Strings</a>
                <a href="/bows">Bows</a>
                <a href="/impressum">Imprint<a>
        </div>
        
{% endblock %}