{% extends "layout.html.j2" %}
{% block body %}
       <h1>Hairs&Snares.com</h1> 
       <h2>Please enter your first name. You may also skip and click <i>continue</i></h2>
        <form action="/greet" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
            <button type="submit">Continue</button>
        </form>
        
{% endblock %}