{% extends "layout.html.j2" %}
{% block body %}
    <h1>Strings</h1>
    <form action="/violin_bows" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Instrument" type="text">
            <select name="instrument">
                <option disabled selected>Instrument</option>
                {% for instrument in instruments %}
                    <option value="{{ instrument }}">{{ instrument }}</option>
                {% endfor %}
            </select>
        <button type="submit">enter</button>
    </form>
{% endblock %}